--
-- PostgreSQL database dump
--

\restrict O8ZYXRTuBDlcSw9zHy8XMcPSIbTQkWOyU901Cb9kyg3BY6NZs8E5VowtJz4nWEV

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: incident_phase_enum; Type: TYPE; Schema: public; Owner: riskadmin
--

CREATE TYPE public.incident_phase_enum AS ENUM (
    'detect',
    'notify',
    'monitor',
    'assess',
    'block',
    'restore',
    'change',
    'update_info',
    'improve',
    'failover',
    'rollback',
    'evidence',
    'anticrisis'
);


ALTER TYPE public.incident_phase_enum OWNER TO riskadmin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: assets; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.assets (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    asset_code character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    category text NOT NULL,
    sub_category text NOT NULL,
    owner_id uuid,
    value integer NOT NULL,
    criticality text NOT NULL,
    location character varying(255) NOT NULL,
    description text,
    status text DEFAULT 'aktiv'::text NOT NULL,
    last_review date NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    data_classification text DEFAULT 'daxili'::text,
    CONSTRAINT assets_category_check CHECK ((category = ANY (ARRAY['əsas'::text, 'dəstəkləyici'::text]))),
    CONSTRAINT assets_criticality_check CHECK ((criticality = ANY (ARRAY['çox_aşağı'::text, 'aşağı'::text, 'orta'::text, 'yüksək'::text, 'kritik'::text]))),
    CONSTRAINT assets_data_classification_check CHECK ((data_classification = ANY (ARRAY['açıq'::text, 'daxili'::text, 'məxfi'::text, 'çox_məxfi'::text]))),
    CONSTRAINT assets_status_check CHECK ((status = ANY (ARRAY['aktiv'::text, 'planlaşdırılan'::text, 'köhnəlmiş'::text, 'ləğv_edilmiş'::text]))),
    CONSTRAINT assets_sub_category_check CHECK ((sub_category = ANY (ARRAY['informasiya'::text, 'hardware'::text, 'software'::text, 'şəbəkə'::text, 'insan'::text, 'fiziki'::text]))),
    CONSTRAINT assets_value_check CHECK (((value >= 1) AND (value <= 5)))
);


ALTER TABLE public.assets OWNER TO riskadmin;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.audit_log (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    entity_type character varying(255) NOT NULL,
    entity_id uuid NOT NULL,
    action text NOT NULL,
    changed_fields jsonb,
    reason text,
    actor_user_id uuid,
    actor_role character varying(255),
    ip_address character varying(255),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT audit_log_action_check CHECK ((action = ANY (ARRAY['create'::text, 'update'::text, 'delete'::text, 'override'::text, 'resolve_conflict'::text, 'export'::text, 'sync'::text])))
);


ALTER TABLE public.audit_log OWNER TO riskadmin;

--
-- Name: consequences; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.consequences (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    risk_id uuid NOT NULL,
    consequence_category text NOT NULL,
    consequence_description text NOT NULL,
    probability_band_law text NOT NULL,
    severity_law text NOT NULL,
    related_threat_id uuid,
    related_requirement_id uuid,
    evidence character varying(255),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT consequences_consequence_category_check CHECK ((consequence_category = ANY (ARRAY['continuity'::text, 'reputasiya'::text, 'maliyyə'::text, 'hüquqi'::text, 'əməliyyat'::text, 'texnoloji'::text, 'insan'::text]))),
    CONSTRAINT consequences_probability_band_law_check CHECK ((probability_band_law = ANY (ARRAY['p01_20'::text, 'p21_40'::text, 'p41_60'::text, 'p61_80'::text, 'p81_100'::text]))),
    CONSTRAINT consequences_severity_law_check CHECK ((severity_law = ANY (ARRAY['çox_aşağı'::text, 'aşağı'::text, 'orta'::text, 'yüksək'::text, 'kritik'::text])))
);


ALTER TABLE public.consequences OWNER TO riskadmin;

--
-- Name: incident_actions; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.incident_actions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    incident_id uuid NOT NULL,
    action_title character varying(255) NOT NULL,
    action_description text,
    assigned_to uuid,
    status text DEFAULT 'gözləmədə'::text NOT NULL,
    due_date timestamp with time zone,
    completed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT incident_actions_status_check CHECK ((status = ANY (ARRAY['gözləmədə'::text, 'icrada'::text, 'tamamlandı'::text])))
);


ALTER TABLE public.incident_actions OWNER TO riskadmin;

--
-- Name: incidents; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.incidents (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    incident_code character varying(255) NOT NULL,
    risk_id uuid,
    title character varying(255) NOT NULL,
    type text NOT NULL,
    severity text NOT NULL,
    impact_law text,
    detection_datetime timestamp with time zone NOT NULL,
    occurrence_datetime timestamp with time zone,
    description text NOT NULL,
    response_option text,
    root_cause text,
    resolution_datetime timestamp with time zone,
    notify_dxeit boolean DEFAULT false,
    status text DEFAULT 'yeni'::text NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    response_phase public.incident_phase_enum DEFAULT 'detect'::public.incident_phase_enum,
    phase_changed_at timestamp with time zone,
    phase_history jsonb DEFAULT '[]'::jsonb,
    data_classification text DEFAULT 'daxili'::text,
    CONSTRAINT incidents_data_classification_check CHECK ((data_classification = ANY (ARRAY['açıq'::text, 'daxili'::text, 'məxfi'::text, 'çox_məxfi'::text]))),
    CONSTRAINT incidents_impact_law_check CHECK ((impact_law = ANY (ARRAY['çox_aşağı'::text, 'aşağı'::text, 'orta'::text, 'yüksək'::text, 'kritik'::text]))),
    CONSTRAINT incidents_response_option_check CHECK ((response_option = ANY (ARRAY['aşkarlama'::text, 'bloklama'::text, 'bərpaetmə'::text, 'anti_böhran'::text, 'sübut_toplama'::text, 'ehtiyat_varianta_keçmə'::text]))),
    CONSTRAINT incidents_severity_check CHECK ((severity = ANY (ARRAY['P1_kritik'::text, 'P2_yüksək'::text, 'P3_orta'::text, 'P4_aşağı'::text]))),
    CONSTRAINT incidents_status_check CHECK ((status = ANY (ARRAY['yeni'::text, 'kateqoriyalaşdırılır'::text, 'planlaşdırılır'::text, 'həll_edilir'::text, 'bağlı'::text, 'analiz'::text]))),
    CONSTRAINT incidents_type_check CHECK ((type = ANY (ARRAY['kiberhücum'::text, 'məlumat_sızması'::text, 'sistem_çöküşü'::text, 'uyğunsuzluq'::text, 'fiziki'::text, 'digər'::text])))
);


ALTER TABLE public.incidents OWNER TO riskadmin;

--
-- Name: knex_migrations; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.knex_migrations (
    id integer NOT NULL,
    name character varying(255),
    batch integer,
    migration_time timestamp with time zone
);


ALTER TABLE public.knex_migrations OWNER TO riskadmin;

--
-- Name: knex_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: riskadmin
--

CREATE SEQUENCE public.knex_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.knex_migrations_id_seq OWNER TO riskadmin;

--
-- Name: knex_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: riskadmin
--

ALTER SEQUENCE public.knex_migrations_id_seq OWNED BY public.knex_migrations.id;


--
-- Name: knex_migrations_lock; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.knex_migrations_lock (
    index integer NOT NULL,
    is_locked integer
);


ALTER TABLE public.knex_migrations_lock OWNER TO riskadmin;

--
-- Name: knex_migrations_lock_index_seq; Type: SEQUENCE; Schema: public; Owner: riskadmin
--

CREATE SEQUENCE public.knex_migrations_lock_index_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.knex_migrations_lock_index_seq OWNER TO riskadmin;

--
-- Name: knex_migrations_lock_index_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: riskadmin
--

ALTER SEQUENCE public.knex_migrations_lock_index_seq OWNED BY public.knex_migrations_lock.index;


--
-- Name: ldap_group_mappings; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.ldap_group_mappings (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ldap_group_dn character varying(255) NOT NULL,
    ldap_group_label character varying(255),
    role_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.ldap_group_mappings OWNER TO riskadmin;

--
-- Name: mapping_rules; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.mapping_rules (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    entity_type text NOT NULL,
    rule_definition jsonb NOT NULL,
    is_active boolean DEFAULT true,
    created_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT mapping_rules_entity_type_check CHECK ((entity_type = ANY (ARRAY['risk'::text, 'asset'::text, 'threat'::text, 'vulnerability'::text, 'incident'::text, 'requirement'::text, 'control'::text, 'consequence'::text])))
);


ALTER TABLE public.mapping_rules OWNER TO riskadmin;

--
-- Name: reconciliations; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.reconciliations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    entity_type text NOT NULL,
    entity_id uuid NOT NULL,
    source_system character varying(255) NOT NULL,
    source_table character varying(255),
    source_record_id character varying(255),
    sync_direction text NOT NULL,
    last_sync_at timestamp with time zone,
    sync_status text DEFAULT 'pending'::text NOT NULL,
    source_hash character varying(255),
    mapping_rule_id uuid,
    conflict_notes text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT reconciliations_entity_type_check CHECK ((entity_type = ANY (ARRAY['risk'::text, 'asset'::text, 'threat'::text, 'vulnerability'::text, 'incident'::text, 'requirement'::text, 'control'::text, 'consequence'::text]))),
    CONSTRAINT reconciliations_sync_direction_check CHECK ((sync_direction = ANY (ARRAY['inbound'::text, 'outbound'::text, 'bidirectional'::text]))),
    CONSTRAINT reconciliations_sync_status_check CHECK ((sync_status = ANY (ARRAY['ok'::text, 'failed'::text, 'pending'::text, 'conflict'::text, 'disabled'::text])))
);


ALTER TABLE public.reconciliations OWNER TO riskadmin;

--
-- Name: requirements; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.requirements (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    req_code character varying(255) NOT NULL,
    req_title character varying(255) NOT NULL,
    req_category text NOT NULL,
    req_description text NOT NULL,
    source_type text NOT NULL,
    source_ref character varying(255) NOT NULL,
    activity_area text[] NOT NULL,
    principles jsonb,
    applicability_scope jsonb,
    owner_role character varying(255) NOT NULL,
    review_frequency text NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT requirements_req_category_check CHECK ((req_category = ANY (ARRAY['normativ_akt'::text, 'standart'::text, 'müqavilə'::text, 'öhdəlik'::text, 'qabaqcıl_təcrübə'::text, 'praktik_tələbat'::text]))),
    CONSTRAINT requirements_review_frequency_check CHECK ((review_frequency = ANY (ARRAY['rüblük'::text, 'yarımillik'::text, 'illik'::text]))),
    CONSTRAINT requirements_source_type_check CHECK ((source_type = ANY (ARRAY['normativ_akt'::text, 'standart'::text, 'müqavilə'::text, 'öhdəlik'::text, 'qabaqcıl_təcrübə'::text, 'praktik_tələbat'::text]))),
    CONSTRAINT requirements_status_check CHECK ((status = ANY (ARRAY['draft'::text, 'aktiv'::text, 'köhnəlmiş'::text])))
);


ALTER TABLE public.requirements OWNER TO riskadmin;

--
-- Name: requirements_history; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.requirements_history (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    requirement_id uuid NOT NULL,
    version_number integer NOT NULL,
    snapshot jsonb NOT NULL,
    changed_by uuid,
    change_reason text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.requirements_history OWNER TO riskadmin;

--
-- Name: risk_assets; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.risk_assets (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    risk_id uuid NOT NULL,
    asset_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.risk_assets OWNER TO riskadmin;

--
-- Name: risk_solutions; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.risk_solutions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    risk_id uuid NOT NULL,
    solution_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.risk_solutions OWNER TO riskadmin;

--
-- Name: risk_threats; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.risk_threats (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    risk_id uuid NOT NULL,
    threat_id uuid NOT NULL,
    link_type text DEFAULT 'primary'::text NOT NULL,
    rationale text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT risk_threats_link_type_check CHECK ((link_type = ANY (ARRAY['primary'::text, 'secondary'::text])))
);


ALTER TABLE public.risk_threats OWNER TO riskadmin;

--
-- Name: risk_vulnerabilities; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.risk_vulnerabilities (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    risk_id uuid NOT NULL,
    vulnerability_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.risk_vulnerabilities OWNER TO riskadmin;

--
-- Name: risks; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.risks (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    risk_code character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    category text NOT NULL,
    description text,
    asset_value numeric(5,2),
    probability_factor integer NOT NULL,
    statistical_probability numeric(5,2),
    prob_max numeric(5,2),
    technical_impact integer NOT NULL,
    business_impact integer NOT NULL,
    impact_max integer,
    qualitative_score numeric(8,2),
    quantitative_value numeric(12,2),
    priority text,
    risk_owner_id uuid,
    treatment_option text,
    treatment_method text,
    treatment_start date,
    treatment_end date,
    inherent_risk_score numeric(8,2),
    residual_risk_score numeric(8,2),
    residual_band_law text,
    appetite_threshold numeric(8,2),
    status text DEFAULT 'açıq'::text NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    approved_by uuid,
    approved_at timestamp with time zone,
    data_classification text DEFAULT 'daxili'::text,
    CONSTRAINT risks_business_impact_check CHECK (((business_impact >= 1) AND (business_impact <= 5))),
    CONSTRAINT risks_category_check CHECK ((category = ANY (ARRAY['strateji'::text, 'operativ'::text, 'texniki'::text, 'uyğunluq'::text, 'reputasiya'::text, 'fiziki'::text]))),
    CONSTRAINT risks_data_classification_check CHECK ((data_classification = ANY (ARRAY['açıq'::text, 'daxili'::text, 'məxfi'::text, 'çox_məxfi'::text]))),
    CONSTRAINT risks_priority_check CHECK ((priority = ANY (ARRAY['aşağı'::text, 'orta'::text, 'yüksək'::text, 'kritik'::text]))),
    CONSTRAINT risks_probability_factor_check CHECK (((probability_factor >= 1) AND (probability_factor <= 5))),
    CONSTRAINT risks_residual_band_law_check CHECK ((residual_band_law = ANY (ARRAY['çox_aşağı'::text, 'aşağı'::text, 'orta'::text, 'yüksək'::text, 'kritik'::text]))),
    CONSTRAINT risks_statistical_probability_check CHECK (((statistical_probability >= (0)::numeric) AND (statistical_probability <= (100)::numeric))),
    CONSTRAINT risks_status_check CHECK ((status = ANY (ARRAY['açıq'::text, 'emalda'::text, 'həll_edilib'::text, 'qəbul_edilib'::text, 'bağlı'::text]))),
    CONSTRAINT risks_technical_impact_check CHECK (((technical_impact >= 1) AND (technical_impact <= 5))),
    CONSTRAINT risks_treatment_option_check CHECK ((treatment_option = ANY (ARRAY['qarşısını_al'::text, 'azalt'::text, 'başqa_tərəfə_ötür'::text, 'qəbul_et'::text])))
);


ALTER TABLE public.risks OWNER TO riskadmin;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.role_permissions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    role_id uuid NOT NULL,
    resource character varying(255) NOT NULL,
    action text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT role_permissions_action_check CHECK ((action = ANY (ARRAY['create'::text, 'read'::text, 'update'::text, 'delete'::text])))
);


ALTER TABLE public.role_permissions OWNER TO riskadmin;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.roles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(255) NOT NULL,
    label character varying(255) NOT NULL,
    is_system boolean DEFAULT false,
    is_custom boolean DEFAULT false,
    description text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.roles OWNER TO riskadmin;

--
-- Name: solutions; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.solutions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    solution_code character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    type text NOT NULL,
    solution_kind text NOT NULL,
    technology text,
    is_ai boolean DEFAULT false,
    effectiveness integer,
    cost_level text,
    is_certified boolean DEFAULT false,
    certification_link character varying(255),
    source text NOT NULL,
    description text,
    playbook text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT solutions_cost_level_check CHECK ((cost_level = ANY (ARRAY['aşağı'::text, 'orta'::text, 'yüksək'::text]))),
    CONSTRAINT solutions_effectiveness_check CHECK (((effectiveness >= 1) AND (effectiveness <= 10))),
    CONSTRAINT solutions_solution_kind_check CHECK ((solution_kind = ANY (ARRAY['texniki'::text, 'təşkilati'::text]))),
    CONSTRAINT solutions_source_check CHECK ((source = ANY (ARRAY['dxeit_kataloqu'::text, 'daxili'::text, 'vendor'::text]))),
    CONSTRAINT solutions_technology_check CHECK ((technology = ANY (ARRAY['SIEM'::text, 'DLP'::text, 'UEBA'::text, 'Firewall'::text, 'EDR'::text, 'WAF'::text, 'Şifrələmə'::text, 'Digər'::text]))),
    CONSTRAINT solutions_type_check CHECK ((type = ANY (ARRAY['qabaqlayıcı'::text, 'nəzarətedici'::text, 'təshihedici'::text, 'bərpaedici'::text])))
);


ALTER TABLE public.solutions OWNER TO riskadmin;

--
-- Name: threats; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.threats (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    threat_code character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    category text NOT NULL,
    source text NOT NULL,
    purpose text[] NOT NULL,
    target_type text NOT NULL,
    intentionality text NOT NULL,
    severity text NOT NULL,
    probability integer NOT NULL,
    realization_tech text,
    is_external boolean DEFAULT false,
    violated_requirement_id uuid,
    violated_principles jsonb,
    severity_law text NOT NULL,
    probability_band_law text NOT NULL,
    violated_activity_area text[],
    created_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    national_is_threat boolean DEFAULT false,
    cia_property_threat boolean DEFAULT false,
    description text,
    is_potential_incident boolean DEFAULT false,
    sensitivity_level integer,
    last_review_date date,
    threat_status text DEFAULT 'aktiv'::text,
    data_classification text DEFAULT 'daxili'::text,
    CONSTRAINT threats_category_check CHECK ((category = ANY (ARRAY['texniki'::text, 'fiziki'::text, 'insani'::text, 'prosessual'::text, 'xarici'::text]))),
    CONSTRAINT threats_data_classification_check CHECK ((data_classification = ANY (ARRAY['açıq'::text, 'daxili'::text, 'məxfi'::text, 'çox_məxfi'::text]))),
    CONSTRAINT threats_intentionality_check CHECK ((intentionality = ANY (ARRAY['qərəzli'::text, 'təsadüfi'::text, 'axın_üzrə'::text]))),
    CONSTRAINT threats_probability_band_law_check CHECK ((probability_band_law = ANY (ARRAY['p01_20'::text, 'p21_40'::text, 'p41_60'::text, 'p61_80'::text, 'p81_100'::text]))),
    CONSTRAINT threats_probability_check CHECK (((probability >= 0) AND (probability <= 100))),
    CONSTRAINT threats_sensitivity_level_check CHECK (((sensitivity_level >= 1) AND (sensitivity_level <= 5))),
    CONSTRAINT threats_severity_check CHECK ((severity = ANY (ARRAY['çox_aşağı'::text, 'aşağı'::text, 'orta'::text, 'yüksək'::text, 'kritik'::text]))),
    CONSTRAINT threats_severity_law_check CHECK ((severity_law = ANY (ARRAY['çox_aşağı'::text, 'aşağı'::text, 'orta'::text, 'yüksək'::text, 'kritik'::text]))),
    CONSTRAINT threats_source_check CHECK ((source = ANY (ARRAY['kənardan'::text, 'daxildən'::text, 'hər_ikisi'::text]))),
    CONSTRAINT threats_target_type_check CHECK ((target_type = ANY (ARRAY['struktur'::text, 'infrastruktur_komponenti'::text, 'konfiqurasiya'::text, 'proses'::text, 'subyekt'::text]))),
    CONSTRAINT threats_threat_status_check CHECK ((threat_status = ANY (ARRAY['aktiv'::text, 'passiv'::text, 'arxivləşdirilmiş'::text])))
);


ALTER TABLE public.threats OWNER TO riskadmin;

--
-- Name: thresholds; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.thresholds (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    threshold_type text NOT NULL,
    applies_to_type text NOT NULL,
    applies_to_id uuid,
    value character varying(255) NOT NULL,
    unit character varying(255),
    scale_definition jsonb,
    evidence_link character varying(255),
    owner_role character varying(255),
    review_frequency text,
    created_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT thresholds_applies_to_type_check CHECK ((applies_to_type = ANY (ARRAY['proses'::text, 'servis'::text, 'aktiv'::text, 'rol'::text, 'sənəd_reyestri'::text, 'bölmə'::text, 'idarəetmə_aləti'::text, 'texniki_alət'::text]))),
    CONSTRAINT thresholds_review_frequency_check CHECK ((review_frequency = ANY (ARRAY['rüblük'::text, 'yarımillik'::text, 'illik'::text]))),
    CONSTRAINT thresholds_threshold_type_check CHECK ((threshold_type = ANY (ARRAY['MAO'::text, 'MBCO'::text, 'Maturity'::text, 'EAL'::text, 'SLA'::text, 'OLA'::text, 'CIA'::text, 'Reliability'::text, 'Priority'::text, 'Criticality'::text, 'Regime'::text, 'DocumentationProtection'::text, 'Effectiveness'::text])))
);


ALTER TABLE public.thresholds OWNER TO riskadmin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    role text NOT NULL,
    department character varying(255),
    "position" character varying(255),
    is_active boolean DEFAULT true,
    refresh_token text,
    last_login timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    role_id uuid,
    auth_source text DEFAULT 'local'::text NOT NULL,
    ldap_dn text,
    login_attempts integer DEFAULT 0 NOT NULL,
    locked_until timestamp with time zone,
    CONSTRAINT users_auth_source_check CHECK ((auth_source = ANY (ARRAY['local'::text, 'ldap'::text]))),
    CONSTRAINT users_role_check CHECK ((role = ANY (ARRAY['admin'::text, 'risk_manager'::text, 'asset_owner'::text, 'incident_coordinator'::text, 'auditor'::text, 'dxeit_rep'::text])))
);


ALTER TABLE public.users OWNER TO riskadmin;

--
-- Name: vulnerabilities; Type: TABLE; Schema: public; Owner: riskadmin
--

CREATE TABLE public.vulnerabilities (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    vuln_code character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    type text NOT NULL,
    cve_ref character varying(255),
    asset_id uuid,
    severity_internal text NOT NULL,
    severity_law text NOT NULL,
    severity_law_override boolean DEFAULT false,
    severity_law_override_reason text,
    detection_date date NOT NULL,
    detection_method text NOT NULL,
    exploitation_status text DEFAULT 'istifadə_olunmayıb'::text NOT NULL,
    planned_fix_date date,
    assignee_id uuid,
    status text DEFAULT 'açıq'::text NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    data_classification text DEFAULT 'daxili'::text,
    CONSTRAINT vulnerabilities_data_classification_check CHECK ((data_classification = ANY (ARRAY['açıq'::text, 'daxili'::text, 'məxfi'::text, 'çox_məxfi'::text]))),
    CONSTRAINT vulnerabilities_detection_method_check CHECK ((detection_method = ANY (ARRAY['audit'::text, 'pentest'::text, 'özqiymətləndirmə'::text, 'dxeit_bildirişi'::text, 'insident'::text]))),
    CONSTRAINT vulnerabilities_exploitation_status_check CHECK ((exploitation_status = ANY (ARRAY['istifadə_olunmayıb'::text, 'istifadə_cəhdi'::text, 'istifadə_edilib'::text]))),
    CONSTRAINT vulnerabilities_severity_internal_check CHECK ((severity_internal = ANY (ARRAY['az'::text, 'orta'::text, 'yüksək'::text, 'çox_yüksək'::text, 'kritik'::text, 'fövqəladə'::text]))),
    CONSTRAINT vulnerabilities_severity_law_check CHECK ((severity_law = ANY (ARRAY['çox_aşağı'::text, 'aşağı'::text, 'orta'::text, 'yüksək'::text, 'kritik'::text]))),
    CONSTRAINT vulnerabilities_status_check CHECK ((status = ANY (ARRAY['açıq'::text, 'işdə'::text, 'həll_edilib'::text, 'risk_kimi_qəbul_edilib'::text]))),
    CONSTRAINT vulnerabilities_type_check CHECK ((type = ANY (ARRAY['boşluq'::text, 'nəzarətsizlik'::text, 'zəiflik'::text, 'uyğunsuzluq'::text])))
);


ALTER TABLE public.vulnerabilities OWNER TO riskadmin;

--
-- Name: knex_migrations id; Type: DEFAULT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.knex_migrations ALTER COLUMN id SET DEFAULT nextval('public.knex_migrations_id_seq'::regclass);


--
-- Name: knex_migrations_lock index; Type: DEFAULT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.knex_migrations_lock ALTER COLUMN index SET DEFAULT nextval('public.knex_migrations_lock_index_seq'::regclass);


--
-- Name: assets assets_asset_code_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_asset_code_unique UNIQUE (asset_code);


--
-- Name: assets assets_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_pkey PRIMARY KEY (id);


--
-- Name: audit_log audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_pkey PRIMARY KEY (id);


--
-- Name: consequences consequences_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.consequences
    ADD CONSTRAINT consequences_pkey PRIMARY KEY (id);


--
-- Name: incident_actions incident_actions_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.incident_actions
    ADD CONSTRAINT incident_actions_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_incident_code_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_incident_code_unique UNIQUE (incident_code);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: knex_migrations_lock knex_migrations_lock_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.knex_migrations_lock
    ADD CONSTRAINT knex_migrations_lock_pkey PRIMARY KEY (index);


--
-- Name: knex_migrations knex_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.knex_migrations
    ADD CONSTRAINT knex_migrations_pkey PRIMARY KEY (id);


--
-- Name: ldap_group_mappings ldap_group_mappings_ldap_group_dn_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.ldap_group_mappings
    ADD CONSTRAINT ldap_group_mappings_ldap_group_dn_unique UNIQUE (ldap_group_dn);


--
-- Name: ldap_group_mappings ldap_group_mappings_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.ldap_group_mappings
    ADD CONSTRAINT ldap_group_mappings_pkey PRIMARY KEY (id);


--
-- Name: mapping_rules mapping_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.mapping_rules
    ADD CONSTRAINT mapping_rules_pkey PRIMARY KEY (id);


--
-- Name: reconciliations reconciliations_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.reconciliations
    ADD CONSTRAINT reconciliations_pkey PRIMARY KEY (id);


--
-- Name: requirements_history requirements_history_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.requirements_history
    ADD CONSTRAINT requirements_history_pkey PRIMARY KEY (id);


--
-- Name: requirements requirements_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT requirements_pkey PRIMARY KEY (id);


--
-- Name: requirements requirements_req_code_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT requirements_req_code_unique UNIQUE (req_code);


--
-- Name: risk_assets risk_assets_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_assets
    ADD CONSTRAINT risk_assets_pkey PRIMARY KEY (id);


--
-- Name: risk_assets risk_assets_risk_id_asset_id_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_assets
    ADD CONSTRAINT risk_assets_risk_id_asset_id_unique UNIQUE (risk_id, asset_id);


--
-- Name: risk_solutions risk_solutions_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_solutions
    ADD CONSTRAINT risk_solutions_pkey PRIMARY KEY (id);


--
-- Name: risk_solutions risk_solutions_risk_id_solution_id_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_solutions
    ADD CONSTRAINT risk_solutions_risk_id_solution_id_unique UNIQUE (risk_id, solution_id);


--
-- Name: risk_threats risk_threats_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_threats
    ADD CONSTRAINT risk_threats_pkey PRIMARY KEY (id);


--
-- Name: risk_threats risk_threats_risk_id_threat_id_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_threats
    ADD CONSTRAINT risk_threats_risk_id_threat_id_unique UNIQUE (risk_id, threat_id);


--
-- Name: risk_vulnerabilities risk_vulnerabilities_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_vulnerabilities
    ADD CONSTRAINT risk_vulnerabilities_pkey PRIMARY KEY (id);


--
-- Name: risk_vulnerabilities risk_vulnerabilities_risk_id_vulnerability_id_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_vulnerabilities
    ADD CONSTRAINT risk_vulnerabilities_risk_id_vulnerability_id_unique UNIQUE (risk_id, vulnerability_id);


--
-- Name: risks risks_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risks
    ADD CONSTRAINT risks_pkey PRIMARY KEY (id);


--
-- Name: risks risks_risk_code_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risks
    ADD CONSTRAINT risks_risk_code_unique UNIQUE (risk_code);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_role_id_resource_action_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_id_resource_action_unique UNIQUE (role_id, resource, action);


--
-- Name: roles roles_name_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_unique UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: solutions solutions_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.solutions
    ADD CONSTRAINT solutions_pkey PRIMARY KEY (id);


--
-- Name: solutions solutions_solution_code_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.solutions
    ADD CONSTRAINT solutions_solution_code_unique UNIQUE (solution_code);


--
-- Name: threats threats_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.threats
    ADD CONSTRAINT threats_pkey PRIMARY KEY (id);


--
-- Name: threats threats_threat_code_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.threats
    ADD CONSTRAINT threats_threat_code_unique UNIQUE (threat_code);


--
-- Name: thresholds thresholds_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.thresholds
    ADD CONSTRAINT thresholds_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: vulnerabilities vulnerabilities_pkey; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.vulnerabilities
    ADD CONSTRAINT vulnerabilities_pkey PRIMARY KEY (id);


--
-- Name: vulnerabilities vulnerabilities_vuln_code_unique; Type: CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.vulnerabilities
    ADD CONSTRAINT vulnerabilities_vuln_code_unique UNIQUE (vuln_code);


--
-- Name: idx_assets_category; Type: INDEX; Schema: public; Owner: riskadmin
--

CREATE INDEX idx_assets_category ON public.assets USING btree (category);


--
-- Name: idx_audit_log_actor; Type: INDEX; Schema: public; Owner: riskadmin
--

CREATE INDEX idx_audit_log_actor ON public.audit_log USING btree (actor_user_id);


--
-- Name: idx_audit_log_created; Type: INDEX; Schema: public; Owner: riskadmin
--

CREATE INDEX idx_audit_log_created ON public.audit_log USING btree (created_at);


--
-- Name: idx_audit_log_entity; Type: INDEX; Schema: public; Owner: riskadmin
--

CREATE INDEX idx_audit_log_entity ON public.audit_log USING btree (entity_type, entity_id);


--
-- Name: idx_incidents_phase; Type: INDEX; Schema: public; Owner: riskadmin
--

CREATE INDEX idx_incidents_phase ON public.incidents USING btree (response_phase);


--
-- Name: idx_incidents_status; Type: INDEX; Schema: public; Owner: riskadmin
--

CREATE INDEX idx_incidents_status ON public.incidents USING btree (status);


--
-- Name: idx_reconciliations_status; Type: INDEX; Schema: public; Owner: riskadmin
--

CREATE INDEX idx_reconciliations_status ON public.reconciliations USING btree (sync_status);


--
-- Name: idx_risks_priority; Type: INDEX; Schema: public; Owner: riskadmin
--

CREATE INDEX idx_risks_priority ON public.risks USING btree (priority);


--
-- Name: idx_risks_status; Type: INDEX; Schema: public; Owner: riskadmin
--

CREATE INDEX idx_risks_status ON public.risks USING btree (status);


--
-- Name: idx_threats_severity; Type: INDEX; Schema: public; Owner: riskadmin
--

CREATE INDEX idx_threats_severity ON public.threats USING btree (severity);


--
-- Name: idx_threats_status_v2; Type: INDEX; Schema: public; Owner: riskadmin
--

CREATE INDEX idx_threats_status_v2 ON public.threats USING btree (threat_status);


--
-- Name: idx_vulnerabilities_status; Type: INDEX; Schema: public; Owner: riskadmin
--

CREATE INDEX idx_vulnerabilities_status ON public.vulnerabilities USING btree (status);


--
-- Name: assets assets_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: assets assets_owner_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.assets
    ADD CONSTRAINT assets_owner_id_foreign FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: audit_log audit_log_actor_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_actor_user_id_foreign FOREIGN KEY (actor_user_id) REFERENCES public.users(id);


--
-- Name: consequences consequences_related_requirement_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.consequences
    ADD CONSTRAINT consequences_related_requirement_id_foreign FOREIGN KEY (related_requirement_id) REFERENCES public.requirements(id);


--
-- Name: consequences consequences_related_threat_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.consequences
    ADD CONSTRAINT consequences_related_threat_id_foreign FOREIGN KEY (related_threat_id) REFERENCES public.threats(id);


--
-- Name: consequences consequences_risk_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.consequences
    ADD CONSTRAINT consequences_risk_id_foreign FOREIGN KEY (risk_id) REFERENCES public.risks(id) ON DELETE CASCADE;


--
-- Name: incident_actions incident_actions_assigned_to_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.incident_actions
    ADD CONSTRAINT incident_actions_assigned_to_foreign FOREIGN KEY (assigned_to) REFERENCES public.users(id);


--
-- Name: incident_actions incident_actions_incident_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.incident_actions
    ADD CONSTRAINT incident_actions_incident_id_foreign FOREIGN KEY (incident_id) REFERENCES public.incidents(id) ON DELETE CASCADE;


--
-- Name: incidents incidents_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: incidents incidents_risk_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_risk_id_foreign FOREIGN KEY (risk_id) REFERENCES public.risks(id);


--
-- Name: ldap_group_mappings ldap_group_mappings_role_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.ldap_group_mappings
    ADD CONSTRAINT ldap_group_mappings_role_id_foreign FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: mapping_rules mapping_rules_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.mapping_rules
    ADD CONSTRAINT mapping_rules_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: reconciliations reconciliations_mapping_rule_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.reconciliations
    ADD CONSTRAINT reconciliations_mapping_rule_id_foreign FOREIGN KEY (mapping_rule_id) REFERENCES public.mapping_rules(id);


--
-- Name: requirements requirements_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.requirements
    ADD CONSTRAINT requirements_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: requirements_history requirements_history_changed_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.requirements_history
    ADD CONSTRAINT requirements_history_changed_by_foreign FOREIGN KEY (changed_by) REFERENCES public.users(id);


--
-- Name: requirements_history requirements_history_requirement_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.requirements_history
    ADD CONSTRAINT requirements_history_requirement_id_foreign FOREIGN KEY (requirement_id) REFERENCES public.requirements(id) ON DELETE CASCADE;


--
-- Name: risk_assets risk_assets_asset_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_assets
    ADD CONSTRAINT risk_assets_asset_id_foreign FOREIGN KEY (asset_id) REFERENCES public.assets(id) ON DELETE CASCADE;


--
-- Name: risk_assets risk_assets_risk_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_assets
    ADD CONSTRAINT risk_assets_risk_id_foreign FOREIGN KEY (risk_id) REFERENCES public.risks(id) ON DELETE CASCADE;


--
-- Name: risk_solutions risk_solutions_risk_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_solutions
    ADD CONSTRAINT risk_solutions_risk_id_foreign FOREIGN KEY (risk_id) REFERENCES public.risks(id) ON DELETE CASCADE;


--
-- Name: risk_solutions risk_solutions_solution_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_solutions
    ADD CONSTRAINT risk_solutions_solution_id_foreign FOREIGN KEY (solution_id) REFERENCES public.solutions(id) ON DELETE CASCADE;


--
-- Name: risk_threats risk_threats_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_threats
    ADD CONSTRAINT risk_threats_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: risk_threats risk_threats_risk_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_threats
    ADD CONSTRAINT risk_threats_risk_id_foreign FOREIGN KEY (risk_id) REFERENCES public.risks(id) ON DELETE CASCADE;


--
-- Name: risk_threats risk_threats_threat_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_threats
    ADD CONSTRAINT risk_threats_threat_id_foreign FOREIGN KEY (threat_id) REFERENCES public.threats(id) ON DELETE CASCADE;


--
-- Name: risk_vulnerabilities risk_vulnerabilities_risk_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_vulnerabilities
    ADD CONSTRAINT risk_vulnerabilities_risk_id_foreign FOREIGN KEY (risk_id) REFERENCES public.risks(id) ON DELETE CASCADE;


--
-- Name: risk_vulnerabilities risk_vulnerabilities_vulnerability_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risk_vulnerabilities
    ADD CONSTRAINT risk_vulnerabilities_vulnerability_id_foreign FOREIGN KEY (vulnerability_id) REFERENCES public.vulnerabilities(id) ON DELETE CASCADE;


--
-- Name: risks risks_approved_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risks
    ADD CONSTRAINT risks_approved_by_foreign FOREIGN KEY (approved_by) REFERENCES public.users(id);


--
-- Name: risks risks_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risks
    ADD CONSTRAINT risks_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: risks risks_risk_owner_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.risks
    ADD CONSTRAINT risks_risk_owner_id_foreign FOREIGN KEY (risk_owner_id) REFERENCES public.users(id);


--
-- Name: role_permissions role_permissions_role_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_role_id_foreign FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: solutions solutions_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.solutions
    ADD CONSTRAINT solutions_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: threats threats_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.threats
    ADD CONSTRAINT threats_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: threats threats_violated_requirement_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.threats
    ADD CONSTRAINT threats_violated_requirement_id_foreign FOREIGN KEY (violated_requirement_id) REFERENCES public.requirements(id);


--
-- Name: thresholds thresholds_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.thresholds
    ADD CONSTRAINT thresholds_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: users users_role_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_foreign FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: vulnerabilities vulnerabilities_asset_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.vulnerabilities
    ADD CONSTRAINT vulnerabilities_asset_id_foreign FOREIGN KEY (asset_id) REFERENCES public.assets(id);


--
-- Name: vulnerabilities vulnerabilities_assignee_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.vulnerabilities
    ADD CONSTRAINT vulnerabilities_assignee_id_foreign FOREIGN KEY (assignee_id) REFERENCES public.users(id);


--
-- Name: vulnerabilities vulnerabilities_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: riskadmin
--

ALTER TABLE ONLY public.vulnerabilities
    ADD CONSTRAINT vulnerabilities_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict O8ZYXRTuBDlcSw9zHy8XMcPSIbTQkWOyU901Cb9kyg3BY6NZs8E5VowtJz4nWEV

